.admin-portal {
    display: flex;
    height: 100vh;
  }

  
  .sidebar-admin-portal {
    width: 250px;
    background-color: #ffffff;
    padding: 20px;
    height: auto;
    border-right: 0.5px solid rgb(173, 173, 173);
  }
  
  
  .sidebar-nav-admin-portal ul {
    list-style:none;
    padding-top:7rem;
    margin: 0;
    line-height: 30px;
  }

  .sidebar-nav-admin-portal li{
    height: 70px;
  }
  
.sidebar-nav-admin-portal button{
  padding: 10px 20px;
  background-color: #818181;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  width:auto;
}

  .sidebar-nav-admin-portal li {
    margin-bottom: 10px;
  }
  
  .sidebar-nav-admin-portal a {
    display: block;
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .sidebar-nav-admin-portal a.active {
    color: #ffffff;
  }
  
  .main-content-admin-portal {
    flex: 1;
    padding: 20px;
  }
  
  .header-admin-portal {
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
  }
  
  .header-container-admin-portal {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header-title-admin-portal {
    font-size: 24px;
    font-weight: bold;
  }


  .prolis-admin{
    margin-top: 3rem;
  }

  .verified-product{
    margin-bottom: 2rem;
  }
  .admin-dash{
    height: auto;
    width: 800px;
    background-color: #eeeeee;
    margin-top: 5rem;
    max-width: 80%;
    /* background-color: rgb(217, 217, 217); */
    border-radius: 20px;
    padding: 30px;
    margin-left: 50px;
  }
  .admin-dash-label{
    height: 10px;
    width: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;

  }
  .user-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .user-table th,
  .user-table td {
    padding: 12px;
    text-align: left;
  }
  
  .user-table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .user-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .user-table tbody tr:hover {
    background-color: #e5e5e5;
  }
  .action-button {
    padding: 8px 16px;
    background-color:#c62828;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .action-button:hover {
    background-color: #818181;
  }
  
  .action-button:focus {
    outline: none;
  }
  
  

  