
* {
	margin: 0;
	padding: 0;
	
}

 .home-page{
    margin: 0;
    padding: 0;
    width: 100vw;
    box-sizing: border-box;
 }

body {
	font-family: 'Poppins', sans-serif;
	background-color: #ffffff;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 0px;
}

.header {
	position: fixed;
	top: 0;
	width: 100%;
  z-index: 3;
}
.container {
	max-width: 100%;
	margin-inline: auto;
	/* padding-inline: 16px; */
}
.nav {
	height: 60px;
	display: flex;
	align-items: center;
  width: 100;
	justify-content: space-between;
	/* border-bottom: 2px solid rgba(255, 255, 255, 0.05); */
    /* box-shadow: 0 3px 10px rgb(182, 178, 178); */
	transition: height 0.25s;
}
.nav__logo {
	text-decoration: none;
}
.nav__logo-image {
	display: block;
	width: 40px;
}
.button {
	display: inline-block;
    height: 40px;
	background-color: #0a54a3;
	color:whitesmoke;
	padding:5px 20px;
    border: none;
	outline: none;
	border-radius: 20px;
	cursor: pointer;
}

.profile-icon{
  width: 100%;
  height:40px;
  border-radius: 40px;
}

.button:hover,
.button:focus {
	background-color: #464669;
}
.header.header--active {
	background-color: #17181a;
}
.header.header--active .nav {
	height: 40px;
    border-bottom: 2px solid rgb(128, 124, 124);
    transition: .5s;

}
.header.header--active .button{
    height: 30px;
}
.header.header--active .content{
    top: .5rem;
}
.header.header--active .profile-icon{
  height:30px;
}

.hero{
    height: auto;
    width :100%;
    color: white;
    font-size: 50px;
    background-color: #101010;
}

.sect1{
    display: flex;
    width:100%;
    height:170vh;
    place-items: center;
    color: white;
    font-size: 50px;
    background-color: #28282B;
    
}

.sect2{
    display: flex;
    width:100%;
    height: 100vh;
    place-items: center;
    color: white;
    font-size: 50px;
    background-color: #101010;
}

.lname{
    color:white;
    font-size: 20px;
    position:absolute;
    padding: 50px 50px 40px ;
    font-family: 'Montserrat';
    letter-spacing: 1px;

}

.content {
    color: white;
    display: flex;
    gap: 40px;
    position: absolute;
    right:13rem;
    bottom: 1rem;
    letter-spacing: 1px;
}
 .content a{
    text-decoration: none;
    color: white;
}

.buttons{
    display: flex;
    gap: 15px;
    letter-spacing: 1px;
  }

  .hero {
    display: flex;
    
  }
  
  .hero-content {
    flex: 1;
    padding: 20px;
    padding-top: 17rem;
    padding-left: 10rem;
  }
  
  h1 {
    font-size: 46px;
    font-family: 'Montserrat';
    text-align: center;
    max-width: 450px;
    letter-spacing: 3px;
    line-height: 1.3;
  }
  
  p {
    font-size: 22px;
    margin-bottom: 5px;
    max-width: 500px;
    padding-top: 3rem;
    letter-spacing: 1px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  
  .buttons-hero {
    display: flex;
    margin-top: 10px;
    transform: translate(-20%,-20%);
  }
.rent{
  margin-top: 100px;
  float: left;
  margin-left: 140px;
  width: 130px;
  height: 35px;
  border-radius: 20px;
  font-size: 15px;
  font-weight:500;
  border-width: 1px;
  background-color: black;
  color: white;
      border-color: white;
}


.give{
  margin-top: 100px;
  float: left;
  margin-left: 100px;
  width: 130px;
  height: 35px;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 500;
  border-width: 1px;
  background-color: black;
  color: white;
  border-color: white;
}



  .rent,.give{
    background-color:#052e5a;
    font-size: 17px;
    font-weight: lighter;
  }
  
  
  .hero-image {
    flex: 1;
    text-align: center;
    
  }
  
  .store {
    position: relative;
    flex: 1;
    float:right;
    padding-top: 300px;
    max-width: 100%;
    height: auto;
    /* transform: translate(40%,-20%); */
  }
  
/* ............................................................................................. */

  
  .search-bar input{
    position: relative;
    transform: translate(20%,-1450%);
    color: black;
    font-size: 16px;
    background: whitesmoke;
    width: 1300px;
    height: 45px;
    padding: 10px;
    border: solid 3px #0a54a3;
    outline: none;
    border-radius: 35px;
    transition: all 0.5s;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #9A86FD; */
  }

  .search-bar input::placeholder{
    color: #000000;
    /* opacity: 0; */
    transition: opacity 150ms ease-out;
  }

  .search-bar input:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #0a54a3;
  }
/* .................................................................................................... */

.dropdown {
    position: absolute;
    display: inline-block;
    transform: translate(10%,-870%);
    z-index: 2;
  }

  .dropdown option{
    font-size: 16px;
    color: #0e0d0d;
    gap: 10px;
    padding: 10px;
    font-weight: 500;
  }
  
  .dropdown-button {
    background-color: whitesmoke;
    border: solid 3px #0a54a3;
    color:black;
    font-size: 16px;
    height: 45px;
    width: 200px;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
  }
  
  .dropdown-content {

    position:absolute;
    top:100%;
    left: 20px;
    gap: 10px;
    background-color: rgb(190, 182, 182);
    min-width: 160px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1.2);
    /* z-index: 2; */
    display:none;
    cursor: pointer;
  }
  

  .dropdown:hover .dropdown-button{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #0a54a3;


  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown img{
    height: 44px;
    transform: translate(-425%,13%);
  }
  
  .cart{
    height: 40px;
    transform: translate(550%,-1650%);
  }

  .cart button{
    border-radius: 180px;
    transform: translate(550%,-920%);

  }

  /* <...................................................................................................>. */

  .carousal{
    position:absolute;
    width: 100%;
    height: auto;
    /* padding-bottom: 200px; */
    /* padding: 50px; */
    /* background-size: cover; */
    background-color: #000000;
    transform: translate(0%,-65%);
    z-index: 1;
    border-radius: 20px;
    padding-bottom: 10px;
    padding-top: 70px;
  } 

  .carousel-inner  {
    height: 50vh;
 }

 .carousel-item img{
  position: relative;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
 }

 .carousel-item {
  width:100%;
  transform: translate(0%,-10%);
}
/* .............................................................................. */

.card-head{
  display:flex;
  float: left;
  left: 0;
  transform: translate(1%,-100%);
  position: absolute;
  padding-right: 150rem;
  white-space: nowrap;
  width: 100%;
  color: white;
  font-size: 32px;
  font-family: 'Montserrat'
}
/* ......................................................................................... */

.cards{
  width: 100%;
  display: flex;
  /* flex-direction: row; */
  position: absolute;
  padding: 80px;
  gap: 80px;
  padding-top: 650px;
}
.card1 {
  position: relative;
  width: 320px;
  height: 500px;
  background: #191919;
  border-radius: 20px;
  overflow: hidden;
}
.card1::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: deepskyblue;
  transform: skewY(345deg);
  transition: 0.5s;
}
.card1:hover::before {
  top: -70%;
  transform: skewY(390deg);
}

.card1 .imgBox {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  z-index: 1;
}
.gopro{
  width: 100%;
  height: auto;
}

.card1 .contentBox {
  position: relative;
  padding: 20px;
  display: flex;
  padding-top: 4.5rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}
.card1 .contentBox h3 {
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.card1 .contentBox .price {
  font-size: 24px;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
}
.card1 .contentBox .rent {
  position: relative;
  top: 0;
  width:fit-content;
  opacity: 1;
  padding: 5px 35px;
  margin-top: 10px;
  margin-right: 8rem;
  color: #000000;
  text-align: center;
  background: deepskyblue;
  border-radius: 30px;
  letter-spacing: 1px;
  font-size: large;
  font-weight:bold;
}


.card2 {
  /* display: flex; */
  position: relative;
  /* transform: translate(100%,0%); */
  width: 320px;
  height: 500px;
  background: #191919;
  border-radius: 20px;
  overflow: hidden;
}
.card2::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: deepskyblue;
  transform: skewY(345deg);
  transition: 0.5s;
}
.card2:hover::before {
  top: -70%;
  transform: skewY(390deg);
}

.card2 .imgBox {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  z-index: 1;
}
.headset{
  width:100%;
  height: auto;
} 

.card2 .contentBox {
  position: relative;
  padding-top: 11rem;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  z-index: 2;
}
.card2 .contentBox h3 {
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.card2 .contentBox .price {
  font-size: 24px;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
}
.card2 .contentBox .rent {
  position: relative;
  top: 0;
  width:fit-content;
  opacity: 1;
  padding: 5px 35px;
  margin-top: 10px;
  margin-right: 8rem;
  color: #000000;
  text-align: center;
  background: deepskyblue;
  border-radius: 30px;
  letter-spacing: 1px;
  font-size: large;
  font-weight:bold;
}


.card3 {
  /* display: flex; */
  position: relative;
  /* transform: translate(100%,0%); */
  width: 320px;
  height: 500px;
  background: #191919;
  border-radius: 20px;
  overflow: hidden;
}
.card3::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: deepskyblue;
  transform: skewY(345deg);
  transition: 0.5s;
}
.card3:hover::before {
  top: -70%;
  transform: skewY(390deg);
}

.card3 .imgBox {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.5px;
  z-index: 1;
}
.washer{
  width:100%;
  height: auto;
} 

.card3 .contentBox {
  position: relative;
  padding-top: 0.1rem;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  z-index: 2;
}
.card3 .contentBox h3 {
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.card3 .contentBox .price {
  font-size: 24px;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
}
.card3 .contentBox .rent {
  position: relative;
  top: 0;
  width:fit-content;
  opacity: 1;
  padding: 5px 35px;
  margin-top: 10px;
  margin-right: 8rem;
  color: #000000;
  text-align: center;
  background: deepskyblue;
  border-radius: 30px;
  letter-spacing: 1px;
  font-size: large;
  font-weight:bold;
}



.card4 {
  /* display: flex; */
  position: relative;
  /* transform: translate(100%,0%); */
  width: 320px;
  height: 500px;
  background: #191919;
  border-radius: 20px;
  overflow: hidden;
}
.card4::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: deepskyblue;
  transform: skewY(345deg);
  transition: 0.5s;
}
.card4:hover::before {
  top: -70%;
  transform: skewY(390deg);
}

.card4 .imgBox {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  z-index: 1;
}
.speaker{
  width:100%;
  height: 385px;
} 

.card4 .contentBox {
  position: relative;
  padding-top: 0.1rem;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  z-index: 2;
}
.card4 .contentBox h3 {
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.card4 .contentBox .price {
  font-size: 24px;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
}
.card4 .contentBox .rent {
  position: relative;
  top: 0;
  width:fit-content;
  opacity: 1;
  padding: 5px 35px;
  margin-top: 10px;
  margin-right: 8rem;
  color: #000000;
  text-align: center;
  background: deepskyblue;
  border-radius: 30px;
  letter-spacing: 1px;
  font-size: large;
  font-weight:bold;
}

/* ................................................ */

.more
{
  position: absolute;
  /* top: 550px; */
  right: 30px;
  bottom: 0;
  transform: translate(0%,100%);
}

.more-button{
  border-radius: 30px;
  background-color: deepskyblue;
  width: 100px;
  height: 35px;
  text-align: center;
  /* padding-bottom: 5px; */
  font-size: 22px;
  font-weight:bold;
  border: none;
  outline: none;
  
}

/* ................................................. */



.sect2 {
  left: 0;
  bottom: 12px;
  width: 100%;
  background: #101010;
  padding-top: 60px;
  height: 60vh;
}

footer {
  display: flex;
  align-items: flex-start;
  /* gap: 40px; */
  margin: 0 30px;
}

@media (width < 620px) {
  footer {
    flex-direction: column;
  }

  footer.bottom {
    gap: 16px;
    flex-direction: column-reverse;
  }
}

@media (width >= 620px) {
  footer {
    margin: 0 auto;
    max-width: 600px;
    padding: 0;
  }
}

footer {
  color: #a2b5cd;
}

footer.top {
  border-bottom: 2px solid #3a4f6a;
  padding-bottom: 20px;
}

footer.bottom {
  padding: 20px 0;
  justify-content: space-between;
}

footer.top .links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* gap: 30px; */
}

.links > div {
  display: grid;
  /* gap: 10px; */
  margin-bottom: 50px;
}

footer h2 {
  margin: 0;
  padding-right: 100px;
  /* font-size: px; */
  font-weight: 400;
  color: #f7f7f7;
}

.legal {
  font-size: 12px;
  display: flex;
}

.legal > p {
  margin: 0 4px;
}

.legal > span {
  margin-right: 10px;
}

footer.bottom .links {
  display: flex;
  gap: 18px;
}

footer.bottom .links > a {
  font-size: 24px;
}

@media (width < 420px) {
  footer {
    text-align: center;
    align-items: center;
  }

  footer.top .links {
    grid-template-columns: 1fr;
  }

  footer.bottom {
    align-items: center;
  }

  .legal > span {
    display: block;
    margin-right: 0;
    margin-bottom: 2px;
  }
}

.footer-section{
  position: relative;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 1rem;
}

.footer-section a{
  font-size: 16px;
  text-decoration: none;
  color:#a2b5cd ;
  line-height: 0px;
}

.about{
  padding-top: 15px;
}

.about h2{
  margin: 0;
  padding-right: 100px;
  /* font-size: px; */
  font-weight: 400;
  color: #f7f7f7;
}

.about a{
  font-size: 20px;
  text-decoration: none;
  color:#a2b5cd ;

}

.bottom{
  display: flex;
  padding: 20px;
  transform: translate(-50%,120%);
}

.rights{
  font-size: 12px;
  /* padding-right: 50x; */
  white-space: nowrap;
  width: 100%;
  transform: translate(-300%);
}

.terms{
  display: flex;
  padding-left: 3rem;
  padding-right: 8rem;
  gap: 20px;
  
}

.about p{
  display:relative;
  line-height: 0;
  font-size: 16px;
}

.footer-about{
  white-space: nowrap;
  width: 100%;
}

.brand{
  position: flex;
}


.brand img{
  position:absolute;
  width: 100px;
  height: auto;
  transform: translate(-200%,-130%);
}

.brand-name{
  transform: translate(-50%,-120%);

}

.about-us{
  position: absolute;
  transform: translate(50%,-530%);
}

.about-us a{
  text-decoration: none;
  color: #a2b5cd;
  font-size: 30px;

}
