
.category-listing {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    font-family: 'Segoe UI';
    padding-top: 0.5px;
  }
  
  .category-listing aside {
    flex-basis: 30%;
    max-width: 250px;
  }

  .category-filters{
    background-color: #ffffff;
    padding: 50px;
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);

  }
  
  .category-listing h2 {
    margin-top: 0;
    padding-bottom: 1rem;
  }
  
 .category-listing label {
    display: block;
    margin-top: 10px;
  }
  
  .category-listing input[type="date"],
  input[type="number"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  

  
  section#categoryList {
    flex-basis: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    padding-right: 6rem;
  }
  
  .category-product-box {
    border: 1px solid #abadb4;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    
  

  }

  .category-product-box:hover{
    /* box-shadow: 0 15px 25px rgba(68, 50, 160, 0.7); */
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.7);

  }
  
  .category-product-image {
    width: 200px;
    height: 200px;
    object-fit:contain;
  }
  
  .category-product-name {
    margin-top: 10px;
    font-size: x-large;
  }
  
  .category-product-price {
    font-weight:bold;
    margin-top: 5px;
    font-size: medium;
    
  }

  .category-product-title{
    font-size: medium;
  }

  .category-products-for-rent{
    padding-top: 7rem;
    padding-left: 22rem;
    padding-bottom: 1.5rem;
  }